{#---
  {
    "path": "/example/twig",
    "data": {
      "text": "showcase_example path"
    },
    "css": {
      "/assets/showcase_example/path.css": {},
      "https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css": {
        "crossorigin": "anonymous",
        "integrity": "sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      }
    },
    "js": {
      "/assets/showcase_example/path.js": {},
      "https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js": {
        "crossorigin": "anonymous",
        "integrity": "sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      }
    }
  }
---#}
<div class="showcase_example-path">
  {{ data.text }}
</div>
