{#---
  {
    "path": "/example/html",
    "data": {
      "title": "showcase_example title",
      "text": "showcase_example html"
    },
    "html": true
  }
---#}

<html lang="">
  <head>
    <title>{{ data.title }}</title>
  </head>
  <body>
    <div class="showcase_example-path">
      {{ data.text }}
    </div>
  </body>
</html>

